<!DOCTYPE html>
<html>
<head>
    <title>Our Webpage</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="app.js"></script>
    <link href="../stylesheets/indexPageStyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="center align">
        <div class="ui secondary menu">
            <a class="item" href="index.html"><i class="home icon"></i>Home</a>
            <a class="item" href="#">Most Popular Excuses</a>
            <a class="item" href="#">Most Embarrassing Excuses</a>
            <a class="item" href="#">Most Hilarious Excuses</a>
            <a class="item" href="#">Most Cringy Excuses</a>
            <div class="right menu">
                <button class="ui inverted blue button">
                    <i class="sign in icon"></i>Login
                    <a class="item" href="login.html"></button></a>
                <button onclick=""class="ui inverted green button">
                    <i class="sign in icon"></i>Register
                    <a class="item" href="signUp.html"></button></a>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui huge message page grid">
                    <h1 class="ui huge header">Sharing excuses for missing class</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>

<main>
    <div class="searchBar">
        <div class="ui category search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search animals...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>

    <div class="ui segments">
        <div class="firstSegment">
            <div class="ui tertiary segment">
                <div class="firstGroupButton">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui blue button">
                            <i class="thumbs outline up icon"></i> Like
                        </div>
                        <a class="ui basic blue left pointing label">
                        1,048
                        </a>
                    </div>
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui red button">
                            <i class="thumbs outline down icon"></i> Hate
                        </div>
                        <a class="ui basic red left pointing label">
                        347
                        </a>
                    </div>
                </div>
        </div>
        <div class="secondSegment">
            <div class="ui segment">
                <p>Second excuse </p>
            </div>
        </div>
        <div class="thirdSegment">
            <div class="ui tertiary segment">
                <p>Third excuse</p>
            </div>
        </div>
        <div class="fourthSegment">
            <div class="ui segment">
                <p>Fourth excuse</p>
            </div>
        </div>
        <div class="fifthSegment">
            <div class="ui tertiary segment">
                <p>Fifth excuse</p>
            </div>
        </div>
        <div class="sixSegment">
            <div class="ui segment">
                <p>Sixth excuse</p>
            </div>
        </div>
        <div class="seventhSegment">
            <div class="ui tertiary segment">
                <p>Seventh excuse</p>
            </div>
        </div>
        <div class="eighthSegment">
            <div class="ui segment">
                <p>Eighth excuse</p>
            </div>
        </div>
        <div class="ninthSegment">
            <div class="ui tertiary segment">
                <p>Ninth excuse</p>
            </div>
        </div>
        <div class="tenthSegment">
            <div class="ui segment">
                <p>Tenth excuse</p>
            </div>
        </div>

    </div>

            <div class="results"></div>
        </div>
        <div class="three wide column">
            <p>Sort By</p>
                <li>Top Rated</li>
                <li>Popular</li>
                <li>New</li>
        </div>
</main>

<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Sitemap</a>
                        <a href="#" class="item">Contact Us</a>
                        <a href="#" class="item">Religious Ceremonies</a>
                        <a href="#" class="item">Gazebo Plans</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Banana Pre-Order</a>
                        <a href="#" class="item">DNA FAQ</a>
                        <a href="#" class="item">How To Access</a>
                        <a href="#" class="item">Favorite X-Men</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Header</h4>
                    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>
