<!DOCTYPE html>

<html>

<head>
    <title>Our Webpage</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div class="center align">
        <div class="ui secondary menu">
            <a class="item" href="index.html"><i class="home icon"></i>Home</a>
            <a class="item" href="#">Most Popular Excuses</a>
            <a class="item" href="#">Most Embarrassing Excuses</a>
            <a class="item" href="#">Most Hilarious Excuses</a>
            <a class="item" href="#">Most Cringy Excuses</a>
            <div class="right menu">
                <button class="ui inverted blue button">
                    <i class="sign in icon"></i>Login
                    <a class="item" href="login.html"></button>
                <button onclick=""class="ui inverted green button">
                    <i class="sign in icon"></i>Register
                    <a class="item" href="signUp.html"></button>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="row">
            <div class="column padding-reset">
                <div class="ui huge message page grid">
                    <h1 class="ui huge header">Sharing excuses for missing class</h1>
                    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
            <p>Sort By</p>
            <li>Top Rated</li>
            <li>Popular</li>
            <li>New</li>
        </div>
        <div class="six wide column">
            <ul id="comments">
                <li id="comment-section"></li>
            </ul>
        </div>
        <div class="four wide column"></div>
        <div class="ui category search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search animals...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>


    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Sitemap</a>
                        <a href="#" class="item">Contact Us</a>
                        <a href="#" class="item">Religious Ceremonies</a>
                        <a href="#" class="item">Gazebo Plans</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Banana Pre-Order</a>
                        <a href="#" class="item">DNA FAQ</a>
                        <a href="#" class="item">How To Access</a>
                        <a href="#" class="item">Favorite X-Men</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Header</h4>
                    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
