<!doctype html>
<html lang="en">
	<head>
  	<title>Login</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
		<link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>

  	<body>
    	<header>
    	<div class="ui center aligned container">
      	<p><h1>Login</h1></p>
      		<nav>
        		<a href="index.html">Home</a> |
       			<a href="#">About Us</a> |
        		<a href="#">FAQ</a>
      		</nav>
    	</div>
    	</header>

    <main>
    	<div class="ui center aligned container">
    	<div class="inputSection">
    	<div class="ui divider"></div>
    	<p></p>
   		  <div class="loginEmail">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>

      	<p></p>
      	<div class="loginPW">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>

      	<p></p><button class="ui teal button">Submit</button><p></p>
      	<div class="ui divider"></div>
      	</div>
      	</div>
      	</div>
    </main>

    <footer>
    	<div class="ui center aligned container">
    		<div class="registerWAccount">
    			<p></p>
    			<nav>
          			<a href="signUp.html">Don't have an account? Register now!</a>
        		</nav>
        	</div>
      	</div>
    </footer>
  </body>
</html>
