<!doctype html>
<html lang="en">

<head>
    <title>New Post</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div class="ui center aligned container">
            <p>
                <h1>Submit Excuse</h1></p>
            <nav>
                <a href="index.html">Home</a> |
                <a href="#">About Us</a> |
                <a href="faq.html">FAQ</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="ui center aligned container">
            <div class="postTextBox">
                <div class="ui divider"></div>
                <div class="ui form">
                    <form action="/email" method="POST" id="usrform">
                        <div class="emailPost">
                            <label for="">Excuse</label>
                            <input type="text" name="comment" placeholder="Enter excuse..." id="comment">
                        <label>Teacher</label>
                        <input type="text" name="teacher" placeholder="Enter Teacher's Name">
                        <label>E-mail</label>
                        <input type="email" name="email" placeholder="Enter Teacher's Email">
                        <p></p>
                        <input type="submit" class="ui teal button" name="submit" placeholder="SUBMIT" onclick="myFunc()">
                        <p></p>
                        </div>
                    </form>
                </div>
                <div class="ui divider"></div>
            </div>
        </div>
    </main>

    <footer>
        <div class="ui center aligned container">
        </div>
    </footer>

    <script src="email.js"></script>
</body>
</html>
